@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,400;1,500&display=swap');

* {
  scroll-behavior: smooth;
}

:root {
  --foreground-rgb: 218, 215, 205;
  --background-start-rgb: 52, 78, 65;
  --background-end-rgb: 52, 78, 65;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 218, 215, 205;
    --background-start-rgb: 52, 78, 65;
    --background-end-rgb: 52, 78, 65;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
  /* background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
}

#text-shadow {
  text-shadow: 1px 1px 25px #FFFFFF;
}